body {
    font-family: "Verdana", Georgia, sans-serif;
    background-color: rgba(214, 214, 214, 0.692);
}

.title {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    margin: 15px 300px;
    padding: 5px;
    background: red;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

#grilled_cheese {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

.subhead {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

#recipe_list {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-left: 670px;
    margin-top: 50px;
    margin-right: 630px;
    background: lightblue;
}

#pie {
    margin-left: 680px;
}

ul {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-left: 650px;
    margin-top: 30px;
}

ol {
    display: block;
    font-style: italic;
    font-size: 14px;
    margin-left: auto;
}